/* patientRecord.fxml Styling */
#patientRec, #patientHis, #removedPatient {
    -fx-padding: 10 30 30 30;
}

.MenuListBar {
    -fx-background-color: rgb(6, 36, 39, 0.8);
    -fx-max-width: 219px;
    -fx-max-height: 636px;
    -fx-translate-x: 30;
    -fx-translate-y: 10;
    -fx-background-radius: 33 20 20 33;
    -fx-padding: 10px;
    -fx-spacing: 10;
}

.MenuListBar Label{
    -fx-max-width: "Infinity";
    -fx-pref-height: 53;
    -fx-text-fill: #F9FBFB;
    -fx-font-size: 14;
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
    -fx-background-radius: 25 15 15 15;
    -fx-background-color:#0D3E4A;
    -fx-alignment: center;
}

.MenuListBar Button:hover{
    -fx-background-color: rgb(255, 255, 255, 0.05);
    -fx-cursor: hand;
}

.MenuListBar .active{
    -fx-background-color: rgb(255, 255, 255, 0.05);
}

.MenuListBar Button{
    -fx-pref-height: 53;
    -fx-max-width: "Infinity";
    -fx-background-color: none;
    -fx-background-radius: 15;
    -fx-text-fill: #F9FBFB;
    -fx-font-size: 14;
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 400;
}

#rightPane {
    -fx-background-color: #D7E3E3;
    -fx-min-width: 1077px;
    -fx-background-radius: 20 33 33 20;
}

#right {
    -fx-margin: 0 0 0 10px;
}

/* fxml */

/* customToolBar Styling */
.custom-title-bar{
    -fx-max-height: 40px;
}

.lefty{
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 20px;
}

.righty{
    -fx-alignment: center-right;
    -fx-padding: 0 20px 0 0;
}

.custom-title-bar .minBTN:hover{
    -fx-background-color: rgb(46, 84, 87);
}

.custom-title-bar .closeBTN:hover{
    -fx-background-color: rgb(232, 17, 35);
}

.custom-title-bar Button{
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-background-color: none;
    -fx-padding: 7px 12px;
    -fx-cursor: hand;
}

.custom-title-bar Label{
    -fx-text-fill: white;
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 400;
    -fx-font-size: 14;
}