/* left panel container */
.MenuListBar Label{
    -fx-max-width: "Infinity";
    -fx-pref-height: 53;
    -fx-text-fill: #F9FBFB;
    -fx-font-size: 14;
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
    -fx-background-radius: 25 15 15 15;
    -fx-background-color:#0D3E4A;
    -fx-alignment: center;
}

.MenuListBar Button:hover{
    -fx-background-color: rgb(255, 255, 255, 0.05);
    -fx-cursor: hand;
}

.MenuListBar .active{
    -fx-background-color: rgb(255, 255, 255, 0.05);
}

.MenuListBar Button{
    -fx-pref-height: 53;
    -fx-max-width: "Infinity";
    -fx-background-color: none;
    -fx-background-radius: 15;
    -fx-text-fill: #F9FBFB;
    -fx-font-size: 14;
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 400;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 20;
}

.MenuListBar {
    -fx-background-color: rgb(6, 36, 39, 0.8);
    -fx-background-radius: 33 20 20 33;
    -fx-padding: 10px;
    -fx-spacing: 10;
    -fx-pref-width: 219;
}

/* right panel container */

.mainContentLayout{
    -fx-spacing: 10;
    -fx-padding: 50 30 25 30;
}

.patientHistoryStyle, .patientRecordStyle {
    -fx-background-color: #D7E3E3;
    -fx-background-radius: 20 33 33 20;
    -fx-padding: 10px;
    -fx-pref-width: 1077;
}

.patientRecordStyle .adminNum{
    -fx-pref-height: 53;
    -fx-background-radius: 36;
    -fx-padding: 0 17;
    -fx-background-color: white;
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
    -fx-text-fill: #3E3E3E;
    -fx-font-size: 14;
}

.patientRecordStyle #dateField{
    -fx-pref-height: 53;
    -fx-background-radius: 15 36 36 36;
    -fx-padding: 0 17;
    -fx-background-color: white;
    -fx-font-family: 'Montserrat';
    -fx-font-size: 14;
}

.dateBoldText{
    -fx-font-weight: 700;
}

.patientRecordStyle #dayText{
    -fx-font-weight: 700;
    -fx-font-size: 14;

}
.patientRecordStyle #monthText{
    -fx-font-weight: 400;
    -fx-font-size: 14;
}

#prMainContent{
    -fx-font-family: "Montserrat";
    -fx-font-size: 12;
    -fx-text-fill: #949494;
}

#prMainContentPanel{
    -fx-vgap: 10;
}

#prMainContentPanel Label{
    -fx-font-weight: 700;
    -fx-font-size: 12.5;
    -fx-text-fill: #747474;
}

.textFields, #textFieldRow{
    -fx-font-weight: 400;
    -fx-padding: 10 15;
    -fx-border-radius: 13;
    -fx-background-color: none;
    -fx-border-color: #ADAEAE;
}

.row-pair3{
    -fx-min-width: 275;
    -fx-font-weight: 400;
    -fx-padding: 6 6 6 10;
    -fx-border-radius: 13;
    -fx-background-color: none;
    -fx-border-color: #ADAEAE;
}

.row-pair3 .text-field{
    -fx-background-color: transparent;
}

.row-3s, .row-f7, .row-f4, .row-f6{
    -fx-max-width: 176.33;
}   

.row-pair2, #textFieldRow{
    -fx-min-width: 275;
}

.row-f4{
    -fx-padding: 6 6 6 10;
}

.row-f4 .text-field {
    -fx-background-color: none;
}

.row-f6{
    -fx-padding: 6 5 6 10;
}

.row-f6 .text-field{
    -fx-background-color: transparent;
}

.combo-box .arrow-button {
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 5;
    -fx-padding: 5 8;
    -fx-cursor: hand;
}

.combo-box .text-field{
    -fx-cursor: pointer;
}

.combo-box .list-view .list-cell{
    -fx-cursor: hand;
}

#calendar .text-field{
    -fx-cursor: pointer;
}

#calendar .arrow-button {
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 5;
    -fx-padding: 5 8;
    -fx-cursor: hand;
}


.row-f11{
    -fx-max-width: 95;
}

.row-f12{
    -fx-max-width: 166;
}

.row-f13, .row-f14{
    -fx-max-width: 130;
}

.row-f13{
    -fx-padding: 6 6 6 10;
}

.row-f13 .text-field{
    -fx-background-color: transparent;
}

#imgContainer{
    -fx-background-radius: 27;
    -fx-padding: 53.5 58 53.5 58;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #F6F9F9, #74969D);
}

#reviewPanelStyle{
    -fx-background-radius: 27;
    -fx-background-color: white;
    -fx-padding: 28 8 0 28;
}

#reviewScrollPanel{
    -fx-max-height: 403;
    -fx-border-color: none;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: #C6D8DB; 
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #31717D;
}

.scroll-pane .scroll-bar:horizontal .track{
    
}

#bgCircle {
    -fx-fill: rgba(16, 91, 106, 0.5);
}

#prMainContentPanel{
    -fx-background-radius: 27 27 27 15;
    -fx-background-color: white;
    -fx-padding: 28;
}

#phasingIndicator{
    -fx-pref-height: 68;
    -fx-background-color: white;
    -fx-background-radius: 27;
    -fx-padding: 15;
    -fx-font-weight: 700;
    -fx-font-size: 14;
}

#phasingIndicator .active{
    -fx-border-color: #105B6A;
    -fx-text-fill: #105B6A;
    -fx-border-width: 1.5px;
    -fx-border-radius: 13;
    -fx-padding: 10 13; 
}

.activeProcessing{
    -fx-fill: #105B6A;
}

#phasingIndicator Label{
    -fx-border-color: #C5C5C5;
    -fx-text-fill: #C5C5C5;
    -fx-border-width: 1.5px;
    -fx-border-radius: 13;
    -fx-padding: 10 13; 
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
    -fx-font-size: 14;

}

.patientRecordStyle Circle{
    -fx-fill: #C5C5C5;
}

#circle-active Circle{
    -fx-fill: #105B6A;
}

#circle-deactivate Circle{
    -fx-fill: #C5C5C5;
}

#prPanel6{
    -fx-padding: 20 0 0 0;
}

#chatBotBTN{
    -fx-pref-height: 53;
    -fx-pref-width: 53;
    -fx-background-radius: 36;
    -fx-background-color: white;
    -fx-cursor: hand;
}

#checkBoxContainer{
    -fx-alignment: center-left;
    -fx-pref-width: 474;
}

#checkBoxContainer {
    -fx-spacing: 20;
}

#checkBoxBTN{
    -fx-padding: 10;
    -fx-border-color: #ADAEAE;
    -fx-border-radius: 13;
    -fx-text-fill: #3E3E3E;
    -fx-cursor: hand;
}

#checkBoxBTN .box, .mark {
    -fx-pref-height: 0;
    -fx-pref-width: 0;
    -fx-background-color: none;
    -fx-shape: "";
    -fx-mark-visible: false;
}

#prsBTN{
    -fx-font-weight: 700;
    -fx-font-size: 12;
    -fx-text-fill: #949494;
    -fx-background-color: #E2E5E5;
    -fx-cursor: pointer;
    -fx-padding: 12 22;
    -fx-background-radius: 13;
}

#backBTN{
    -fx-font-weight: 700;
    -fx-font-size: 12;
    -fx-text-fill: #949494;
    -fx-background-color: #E2E5E5;
    -fx-cursor: hand;
    -fx-padding: 12 22;
    -fx-background-radius: 13;
}

#backBTN:hover{
   -fx-background-color: #105B6A; 
   -fx-text-fill: #FFFFFF;
}
/* end main content */

/* customToolBar Styling */
.custom-title-bar{
    -fx-max-height: 40px;
}

.lefty{
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 20px;
}

.righty{
    -fx-alignment: center-right;
    -fx-padding: 0 20px 0 0;
}

.custom-title-bar .minBTN:hover{
    -fx-background-color: rgb(46, 84, 87);
}

.custom-title-bar .closeBTN:hover{
    -fx-background-color: rgb(232, 17, 35);
}

.custom-title-bar Button{
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-background-color: none;
    -fx-padding: 7px 12px;
    -fx-cursor: hand;
}

.custom-title-bar Label{
    -fx-text-fill: white;
    -fx-font-family: 'Montserrat';
    -fx-font-weight: 400;
    -fx-font-size: 14;
}

/* end customTB style */